body {
    padding: 2%;
}

div {
    font-size: 48px;
}

h1 {
    font-size: 72px;
}

form {
    padding: 1%;
    font-size: 32px;
}

.descriptiontextArea {
    width: 1200px;
    height: 600px;
}
.descriptionFormWrapper {
    width: 1200px;
    height: 1200px;
}
